*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: Verdana, sans-serif;
  overflow: hidden;
}

.container
{
  position: relative;
  width: 420px;
  margin: 30px auto;
}

.container:after
{
  position: absolute;
  content: '';
  width: 95%;
  height: 15px;
  background: rgba(0,0,0,0.3);
  display: block;
  left: 2.5%;
  bottom: -7px;
  border-radius: 100%;
  filter: blur(2px);
  z-index: -1;
}

.player
{
  position: relative;
  background: #3F6C76;
  border-radius: 0 0 11px 11px;
  overflow: hidden;
}

.player-head
{
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.player-head:before
{
  position: absolute;
  content: '';
  width: 370px;
  height: 200px;
  border-radius: 9px;
  margin-left: 25px;
  margin-top: 81px;
  display: block;
}

.cover
{
  width: 370px;
  margin-top: 80px;
  border-top: 3px solid #5b0721;
  border-radius: 9px;
}

#player-body
{
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid rgba(111,2,41,0.7);
  background: #3BC1E0;
}

#player-body img
{
  margin-top: -170px;
  filter: blur(21px);
}

.album-info
{
  position: absolute;
  width: 100%;
  top: 0;
}

.title
{
  display: block;
  font-size: 19px;
  font-weight: bold;
  color: #fffffb;
  padding: 30px 0 5px 0;
  text-transform: uppercase;

  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

.artist
{
  display: block;
  font-size: 14px;
  color: #fffffb;
  padding: 15px 0 5px 0;
  text-transform: uppercase;

  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

.player-controls
{
  display: block;
  font-size: 31px;
  padding-top: 25px;
  padding-left: 35px;
}

.player-controls button
{
  color: rgba(255,255,255,1);
  margin-right: 35px;
  background: none;
  border: none;
  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

.player-controls button.active
{
  color: #E3E3E3;
}

.player-footer
{
  height: 90px;
  border-radius: 0 0 11px 11px;
}

#progress
{
  position: relative;
  height: 7px;
  background: #ffffff;
}

#progress:before
{
  position: absolute;
  content: '';
  width: 100%;
  display: inline-block;
  height: 3px;
  background: #3F6C76;
  margin-top: 2px;
}

#progress:after
{
  position: absolute;
  content: '';
  width: 0;
  display: inline-block;
  height: 3px;
  background: #3BC1E0;
  margin-top: 2px;
}

#player-knot
{
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 9999;
  border: 7px solid #1D79BD;
  background: #FFF;
  border-radius: 100%;
  margin-top: -8.5px;
  margin-left: 0;
}

.song-controls
{
  height: 100%;
  line-height: 80px;
  overflow: hidden;
}

.song-controls span
{
  width: 33.33%;
  height: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #ffffff;

  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

.song-controls span .fa-play
{
  position: absolute;
  font-size: 27px;
  margin-top: 26px;
  margin-left: -11px;
  background: none;
  border: none;
  color: #FFF;
  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

.song-controls span .fa-pause
{
  position: absolute;
  font-size: 27px;
  margin-top: 26px;
  margin-left: -11px;
  background: none;
  border: none;
  color: #FFF;
  text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 
}

#playlist{
	list-style: none;
}